.header {
  font-size: 30px;
}

img {
  height: 250px;
}

.city-search {
  width: 50% !important;
}

.dropdown-header {
  display: flex;
  justify-content: space-between;
}

.dropdown-box {
  display: none;
}
